@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  /* primary colors */
  --primary-bright-blue: hsl(220, 98%, 61%);

  /* check background */
  --check-background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* neutral colors */

  /* light theme */
  --light-very-light-gray: hsl(0, 0%, 98%);
  --light-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-light-grayish-blue: hsl(233, 11%, 84%);
  --light-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark theme */
  --dark-very-dark-blue: hsl(235, 21%, 11%);
  --dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-light-grayish-blue: hsl(234, 39%, 85%);
  /* on hover */
  --dark-light-grayish-blue: hsl(236, 33%, 92%);
  --dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-very-dark-grayish-blue: hsl(237, 14%, 26%);

  /* typography */

  --body-copy-size: 18px;
  --body-font: "Josefin Sans", sans-serif;
  --body-weight-light: 400;
  --body-weight-heavy: 700;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-copy-size);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/* @supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
} */
